<header>
    <div class="logo-container">
        <img src="assets/images/logo.png" alt="RUES Logo" class="logo">
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="about.html">Sobre Nosotros</a></li>
            <li><a href="services.html">Servicios</a></li>
            <li><a href="tracking.html">Seguimiento</a></li>
            <li><a href="clients.html">Clientes</a></li>
            <li><a href="contact.html">Contacto</a></li>
        </ul>
    </nav>
</header>
